# Python
backend/__pycache__/
backend/*.pyc
backend/db.sqlite3
backend/media/
backend/staticfiles/
backend/venv/
backend/frontend/

# Node
frontend-src/node_modules/
frontend-src/build/

# Environment
.env
.env.local
*.log

# OS
.DS_Store